@import "_variables";

/* Graph Elements */
.graph-container {
    $bg-colour: rgb(236, 237, 248);
    background-color: $bg-colour;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    z-index: 0;

    .selection-box {
        position: relative;
        background-color: rgba(0, 0, 0, 0.05);
        border: 1px dashed cadetblue;
        z-index: 3;
    }

    .circle {
        border-radius: 50%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        transition: transform 0.1s ease-in-out, font-size 0.1s ease-in-out;
        outline: none;
        z-index: 2;

        .node-text {
            position: relative;
            transform: translateX(-100%);
        }
    }

    .line {
        position: absolute;
        height: 0;
        display: flex;
        justify-content: center;
    }

    .weight {
        position: absolute;
        background-color: inherit;
        padding: 0.5%;
        font-size: small;
        outline: none;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        z-index: 2;
    }

    .hitbox {
        position: absolute;
        border-radius: 59%;
    }
}
