@import "_variables";

.graph-sidenav {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 15px;
    position: absolute;
    height: 95vh;
    width: 18%;
    z-index: 100;
    top: 50%;
    left: 1vh;
    transform: translateY(-50%);
    background-color: $background-colour;
    color: $text-colour;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
    font-size: 16px;
    transition: width 0.3s;

    &.collapsed {
        width: 80px; // Set a smaller width when collapsed

        .toggle-button {
            transform: rotateZ(180deg);
        }

        .sidenav-item {
            color: transparent;
            justify-content: center;
            align-items: center;
            background-color: inherit;

            p {
                display: none;
            }
        }

        .switch-container {
            .switch {
                padding: 0px 12px;
            }
            &:hover {
                background-color: transparent;
            }
        }

        button:hover {
            color: inherit;
            padding-left: 60%;
            padding-right: 120%;
        }
    }

    .toggle-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        margin: 15px;
        padding: 0px;
        border-radius: 50%;
        border: none;
        background: none;
        color: inherit;
        font-size: 1.5em;
        cursor: pointer;
        text-align: left;
        transition: transform 0.3s;

        &:hover {
            background-color: #e0e0e0; // Hover color
        }
        &:focus {
            outline: none;
        }
    }

    .sidenav-item {
        flex: 1;
        font-size: inherit;
        color: inherit;
        margin: 2px 15px;
        padding: 7px 15px;
        text-decoration: none;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        transition: 0.3s;

        background-color: transparent;

        &:hover {
            background-color: $selected-colour;
        }
    }

    .switch-container {
        background-color: $selected-colour;
        flex: 1;
        margin: 2px 15px;
        padding: 7px 15px;
        align-items: center;
        display: flex;
        justify-content: space-between;
        border-radius: 4px;
        transition: 0.3s;

        p {
            color: $text-colour;
            display: contents;
            padding: 0;
            margin: 0;
        }

        .switch {
            $width: 35px;
            $padding: 3px;
            $circle-d: ($width / 2) - $padding;
            margin: 0;
            position: relative;
            display: inline-block;
            width: $width;
            height: ($width / 2) + $padding;

            input {
                opacity: 0;
                width: 0;
                height: 0;

                &:not(:checked) + .slider {
                    background-color: #ccc;
                }

                &:checked + .slider {
                    background-color: $primary-colour;
                }

                &:checked + .slider:before {
                    -webkit-transform: translateX($circle-d);
                    -ms-transform: translateX($circle-d);
                    transform: translateX($circle-d);
                }
            }

            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                -webkit-transition: 0.4s;
                transition: 0.4s;
                border-radius: 34px;

                &:before {
                    position: absolute;
                    content: "";
                    height: $circle-d;
                    width: $circle-d;
                    left: $padding;
                    bottom: $padding;
                    background-color: white;
                    -webkit-transition: 0.4s;
                    border-radius: 50%;
                    transition: 0.4s;

                    -webkit-transform: translateX(0); // No translation for default position
                    -ms-transform: translateX(0);
                    transform: translateX(0);
                }
            }
        }
    }
}
