@import "_variables";

.top-right-menu {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    font-size: 16px;
    padding: 0.5%;

    div,
    label {
        background-color: $primary-colour;
        color: $background-colour;
        transition: background-color 0.3s;
        display: flex;
        cursor: pointer;

        width: auto;
        height: 30px;
        display: inline-block;

        font-size: 16px;
        font-family: inherit;
        font-size: inherit;
        text-decoration: none;

        margin: 4px 2px;
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 10px;

        border-radius: 5px;
        border: none;

        justify-content: center;
        align-items: center;

        &:hover {
            background-color: $secondary-colour;
        }
    }
}
